body {
    font-family: sans-serif;
    margin-top: -8px;
    padding-top: 1px;
}

header {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #27ae60;
    color: #fbfcfc;
    margin-top: -8px;
    padding-top: 1px;
}

footer {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #27ae60;
    color: #fbfcfc;
    font-size: 0.8em;
}

.wrapper {
    width: 500px;
    margin: auto;
    background-color: #fbfcfc;
}

.user_wrapper,
.product_wrapper {
    width: 90%;
    margin: auto;
    background-color: #bdc3c7;
    border: 1px solid #2ecc71;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.user_wrapper h3,
.product_wrapper h3 {
    text-align: center;
    display: block;
    border-bottom: 1px solid #2ecc71;
    line-height: 30px;
    margin-top: 5px;
}

.user_wrapper p,
.product_wrapper p {
    margin: 10px;
}

strong {
    color: #27ae60;
}

a{
    text-decoration: none;
    font-family: sans-serif;
    color: #ecf0f1;
    display: inline-block;
    padding: 5px;
    background-color: #27ae60;
    margin: 2px 0;
    border-radius: 5px;
    font-size: 0.8em;
}

a:hover{
    background-color: #2ecc71;
}

input{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 75%;
    height: 20px;
    padding: 3px 5px;
    border: 1px solid #27ae60;
    border-radius: 5px;
}

input[type="submit"]{
    height: 26px;
    width: 78%;
    background-color: #27ae60;
    color: #ecf0f1;
}

input[type="submit"]:hover{
    background-color: #2ecc71;
}

.bids_wrapper {
    width: 80%;
    margin: auto;
    background-color: #ecf0f1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #2ecc71;
}
